@charset "utf-8";
/* CSS Document */
.tab {
    overflow: auto;
    background-color: #7CA0EC;
	width: 379px;
}

.tab button {
	font-family: 'Lato', sans-serif;
	color: #91BDFF;
	background-color: #3857D3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
	margin-left: 5px;
	margin-top: 5px;
    transition: 0.2s;
    font-size: 17px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.tab button:hover {
    background-color: #7385CF;
}

.tab button.active {
    background-color: #243A93;
}

.tabcontent {
	font-family: 'Lato', sans-serif;
	color: #91BDFF;
	border-style: inset;
	border-width: 3px;
	border-color: #111D4C;
	background-color: #17286B;
    display: none;
    margin: 10px 10px;
	padding-left: 5px;
	padding-right: 5px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
	height: 695px;
	overflow: auto;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
ul{
	list-style-type: none;
	padding-left: 0px;
}
.name{
	text-align: left;
	float: left;
	display: inline;
}
.number{
	text-align: right;
	float: right;
	display: inline;
}
body{
	background-color: #0E183E;
}
#header{
	background-image: linear-gradient(to bottom right, #243A93, #909090);
	position: absolute;
	top: 5px;
	left: 5px;
	border-style: outset;
	border-width: 5px;
	width: 99%;
	border-color: #0D132B;
	height: 72px;
	padding-top: 15px;
}
h1{
	font-family: 'Kanit', sans-serif;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 36px;
	vertical-align: center;
	margin: 0px;
}
#map{
	margin-top: 120px;
	position: absolute;
	left: 5px;
	float: left;
	-webkit-animation: fadeEffect .2s;
    animation: fadeEffect .2s;
}

#map img{
	margin-top: 0px;
	padding-left: 0px;
	width: auto;
	height: 780px;
	border-style: outset;
	border-width: 5px;
	border-color: #0D132B;
}
#list{
	position: absolute;
	top: 130px;
	left: 1525px;
	background-color: #243A93;
	width: 380px;
	height: 780px;
	float: right;
	border-style: outset;
	border-width: 5px;
	border-color: #0D132B;
	z-index: 1;
}
h3{ 
	margin-top: 10px;
}
a:link {
    color: white;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}
.dropbtn {
	font-family: 'Lato', sans-serif;
	color: #91BDFF;
    width: 320px;
	background-color: #0D132B;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 3px 3px 3px rgba(19, 37, 65, .7);
	positon: relative;
	margin-bottom: 10px;
	padding: 5px;
	border-style: none;
	overflow: visible;
}

.dropbtn:hover{
    background-color: #3857D3;
	outline: none;
}
.dropbtn:focus{
	outline: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7CA0EC;
	width: 300px;
    overflow: visible;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
	color: black;
	font-size: 14px;
	line-height: 12px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-top: -10px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.show {display: block;}	

#starpng{
	height: 15px;
	width: 15px;
}
.origin{
	position: absolute;
	z-index: -1;
	top: 620px; 
	left: 680px;
}
.syria{
	position: absolute;
	top: 480px;
	left: 841px;
	z-index: 2;
}
.afghanistan{
	position: absolute;
	top: 485px;
	left: 953px;
	z-index: 2;
}
.somalia{
	position: absolute;
	top: 606px;
	left: 878px;
	z-index: 2;
}
.sudan{
	position: absolute;
	top: 560px;
	left: 810px;
	z-index: 2;
}
.ssudan{
	position: absolute;
	top: 594px;
	left: 810px;
	z-index: 2;
}
.drc{
	position: absolute;
	top: 598px;
	left: 773px;
	z-index: 2;
}
.car{
	position: absolute;
	top: 633px;
	left: 782px;
	z-index: 2;
}
.iraq{
	position: absolute;
	top: 488px;
	left: 860px;
	z-index: 2;
}
.eritrea{
	position: absolute;
	top: 565px;
	left: 845px;
	z-index: 2;
}
.pakistan{
	position: absolute;
	top: 500px;
	left: 973px;
	z-index: 2;
}
.vietnam{
	position: absolute;
	top: 560px;
	left: 1120px;
	z-index: 2;
}
.ukraine{
	position: absolute;
	top: 409px;
	left: 815px;
	z-index: 2;
}
.myanmar{
	position: absolute;
	top: 540px;
	left: 1075px;
	z-index: 2;
}
.china{
	position: absolute;
	top: 480px;
	left: 1100px;
	z-index: 2;
}
.mali{
	position: absolute;
	top: 550px;
	left: 678px;
	z-index: 2;
}
.sri{
	position: absolute;
	top: 596px;
	left: 1015px;
	z-index: 2;
}
.colombia{
	position: absolute;
	top: 610px;
	left: 388px;
	z-index: 2;
}
.unknown{
	position: absolute;
	top: 620px; 
	left: 680px;
	z-index: 2;
}
.palestine{
	position: absolute;
	top: 495px; 
	left: 828px;
	z-index: 2;
}
.western{
	position: absolute;
	top: 525px; 
	left: 630px;
	z-index: 2;
}
.turkey{
	position: absolute;
	top: 460px; 
	left: 828px;
	z-index: 2;
}
.lebanon{
	position: absolute;
	top: 485px; 
	left: 832px;
	z-index: 2;
}
.iran{
	position: absolute;
	top: 490px; 
	left: 905px;
	z-index: 2;
}
.ethiopia{
	position: absolute;
	top: 593px; 
	left: 845px;
	z-index: 2;
}
.jordan{
	position: absolute;
	top: 497px; 
	left: 835px;
	z-index: 2;
}
.kenya{
	position: absolute;
	top: 625px; 
	left: 840px;
	z-index: 2;
}
.uganda{
	position: absolute;
	top: 622px; 
	left: 817px;
	z-index: 2;
}
.chad{
	position: absolute;
	top: 568px; 
	left: 761px;
	z-index: 2;
}
.russia{
	position: absolute;
	top: 330px; 
	left: 1090px;
	z-index: 2;
}
.cameroon{
	position: absolute;
	top: 605px; 
	left: 735px;
	z-index: 2;
}
.france{
	position: absolute;
	top: 423px; 
	left: 695px;
	z-index: 2;
}
.germany{
	position: absolute;
	top: 400px; 
	left: 725px;
	z-index: 2;
}
.egypt{
	position: absolute;
	top: 515px; 
	left: 805px;
	z-index: 2;
}
.india{
	position: absolute;
	top: 533px; 
	left: 1005px;
	z-index: 2;
}
.iceland{
	position: absolute;
	top: 318px; 
	left: 612px;
	z-index: 2;
}
.nz{
	position: absolute;
	top: 808px; 
	left: 1390px;
	z-index: 2;
}
.rwanda{
	position: absolute;
	top: 633px; 
	left: 807px;
	z-index: 2;
}
.sl{
	position: absolute;
	top: 592px; 
	left: 638px;
	z-index: 2;
}
.australia{
	position: absolute;
	top: 730px; 
	left: 1230px;
	z-index: 2;
}
.sweden{
	position: absolute;
	top: 329px; 
	left: 749px;
	z-index: 2;
}
.nigeria{
	position: absolute;
	top: 588px; 
	left: 718px;
	z-index: 2;
}
.bf{
	position: absolute;
	top: 578px; 
	left: 677px;
	z-index: 2;
}
.ireland{
	position: absolute;
	top: 388px; 
	left: 653px;
	z-index: 2;
}
.croatia{
	position: absolute;
	top: 429px; 
	left: 750px;
	z-index: 2;
}
.estonia{
	position: absolute;
	top: 355px; 
	left: 790px;
	z-index: 2;
}
.cr{
	position: absolute;
	top: 405px; 
	left: 748px;
	z-index: 2;
}
.latvia{
	position: absolute;
	top: 365px; 
	left: 790px;
	z-index: 2;
}
.israel{
	position: absolute;
	top: 498px; 
	left: 828px;
	z-index: 2;
}
.slovakia{
	position: absolute;
	top: 411px; 
	left: 764px;
	z-index: 2;
}
.serbia{
	position: absolute;
	top: 436px; 
	left: 770px;
	z-index: 2;
}
.hungary{
	position: absolute;
	top: 427px; 
	left: 786px;
	z-index: 2;
}
.montenegro{
	position: absolute;
	top: 442px; 
	left: 765px;
	z-index: 2;
}
.macedonia{
	position: absolute;
	top: 448px; 
	left: 774px;
	z-index: 2;
}
li{
	line-height: 130%;
}
#sources{
	color: #91BDFF;
	position: absolute;
	bottom: -60px;
	left: -1520px;
}




































